
obj/Debug/Symulator układów logicznych.exe
obj/Debug/Symulator układów logicznych.pdb
.vs/Logic-Gates/v16/.suo
.vs/slnx.sqlite
.vs/Symulator układów logicznych/v16/.suo
.vs/VSWorkspaceState.json
bin/Debug/Symulator układów logicznych.exe
bin/Debug/Symulator układów logicznych.pdb
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/GateContainer.g.i.cs
obj/Debug/GeneratedInternalTypeHelper.g.cs
obj/Debug/GeneratedInternalTypeHelper.g.i.cs
obj/Debug/InputFieldContainer.g.cs
obj/Debug/InputFieldContainer.g.i.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/OutputFieldContainer.g.cs
obj/Debug/OutputFieldContainer.g.i.cs
obj/Debug/Symulator układów logicznych_MarkupCompile.i.cache
obj/Debug/Symulator układów logicznych_MarkupCompile.i.lref
obj/Debug/ToolBoxItem.g.cs
obj/Debug/ToolBoxItem.g.i.cs
obj/Debug/VisualConnection.g.cs
obj/Debug/VisualConnection.g.i.cs
obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Release/AddCustomGate.g.cs
obj/Release/App.g.cs
obj/Release/GateContainer.g.cs
obj/Release/GeneratedInternalTypeHelper.g.cs
obj/Release/InputFieldContainer.g.cs
obj/Release/MainWindow.g.cs
obj/Release/OutputFieldContainer.g.cs
obj/Release/Symulator układów logicznych_MarkupCompile.cache
obj/Release/Symulator układów logicznych_MarkupCompile.lref
obj/Release/ToolBoxItem.g.cs
obj/Release/VisualConnection.g.cs
*.cache
*.baml
*.lref
*.resources
obj/Debug/Symulator układów logicznych.csproj.FileListAbsolute.txt
*.config
bin
obj
obj/Debug/AddCustomGate.baml
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/GateContainer.baml
obj/Debug/InputFieldContainer.baml
obj/Debug/MainWindow.baml
obj/Debug/OutputFieldContainer.baml
obj/Debug/Symulator układów logicznych.csproj.AssemblyReference.cache
obj/Debug/Symulator układów logicznych_MarkupCompile.cache
obj/Debug/Symulator układów logicznych_MarkupCompile.lref
obj/Debug/ToolBoxItem.baml
obj/Debug/VisualConnection.baml
obj/Debug/Symulator układów logicznych.pdb
obj/Debug/Symulator układów logicznych.exe
obj/Debug/Symulator układów logicznych.csproj.FileListAbsolute.txt
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
bin/Debug/Symulator układów logicznych.pdb
bin/Debug/Symulator układów logicznych.exe
.vs/Symulator układów logicznych/v17/TestStore/0/testlog.manifest
.vs/Symulator układów logicznych/v17/TestStore/0/001.testlog
.vs/Symulator układów logicznych/v17/.suo
.vs/Symulator układów logicznych/v17/.futdcache.v1
.vs/Symulator układów logicznych/project-colors.json
.vs/Symulator układów logicznych/DesignTimeBuild/.dtbcache.v2
obj/Debug/Symulator układów logicznych.pdb
obj/Debug/Symulator układów logicznych.exe
obj/Debug/Symulator układów logicznych.csproj.FileListAbsolute.txt
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
bin/Debug/Symulator układów logicznych.pdb
bin/Debug/Symulator układów logicznych.exe
.vs/Symulator układów logicznych/v17/.suo
.vs/Symulator układów logicznych/project-colors.json
*.baml
obj/Debug/AddCustomGate.baml
obj/Debug/AddCustomGate.baml
